<% if @result['responseCode'] == 200 %>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td><h3>总分</h3></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @result['ruleGroups']['SPEED']['score'] %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td><h3>推荐采用的优化措施</h3></td>
        </tr>
      </thead>
      <tbody>
        <% @result['formattedResults']['ruleResults'].each do |k,v| %>
          <% if v['ruleImpact'] != 0 && v['summary'] %>
            <tr>
              <td><%= v['localizedRuleName'] %></td>
              <td><%= trans_link v['summary'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <thead>
        <tr>
          <td><h3>已实施的优化措施</h3></td>
        </tr>
      </thead>
      <tbody>
        <% @result['formattedResults']['ruleResults'].each do |k,v| %>
          <% if v['ruleImpact'] == 0 && v['summary'] %>
            <tr>
              <td><%= v['localizedRuleName'] %></td>
              <td><%= trans_link v['summary'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h3>测速失败,请检查您的url是否格式正确,并重新查询</h3>
<% end %>
